* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
}
.login__modal {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.login__modal__content {
  position: relative;
  top: 135px;
  left: 0;
  right: 0;
  padding: 59px 76px;
  width: 478px;
  background: #fff;
  border: 1px solid #4798ca;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  color: #343434;
  margin: 0 auto;
}
.login__modal__close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  font-weight: 900;
}
.login__modal__content a {
  color: #4798ca;
  letter-spacing: 0.01em;
}
.login__modal__content input::placeholder {
  color: #7e7e7e;
}
.login__modal__content input:focus {
  outline: none;
}
.login__modal__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 90%;
  text-align: center;
  margin-bottom: 9px;
}
.login__input,
.pass__input {
  width: 100%;
  border: 1px solid #4798ca;
  border-radius: 6px;
  padding-top: 21px;
  padding-bottom: 22px;
  margin-top: 20px;
  text-align: center;
}
.btn__input {
  cursor: pointer;
  display: block;
  padding: 21px 59px;
  color: #fff;
  background: #4798ca;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.navbar__fixed__top {
  background-color: #4798ca;
  color: #fff;
  padding: 3px 0;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  position: sticky;
  z-index: 5;
  top: 0;
}
.login__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.login__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.login__checkbox + label::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid transparent;
  margin-left: 0.5em;
  background: #4798ca;
  border-radius: 3px;
  padding: 0 1px 3px 1px;
}
.login__checkbox:checked + label::after {
  color: #fff;
  content: "\2713";
  /* background: #000; */
}
.navbar__fixed {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__fixed__el {
  display: flex;
}
.navbar__fixed__el img {
  display: block;
  margin: auto;
}
.navbar__fixed__el.active .chevron__offices {
  transform: rotate(180deg);
}
.offices__btn {
  cursor: pointer;
}
.offices__btn.active + .list__offices {
  display: block;
}
.list__offices {
  position: absolute;
  top: 52px;
  background-color: #fff;
  padding: 12px 33px 13px 17px;
  border: 1px solid #4798ca;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: none;
}
.list__offices:after,
.list__offices:before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: -26px;
  left: 54px;
}
.list__offices:after {
  border-bottom-color: #fff;
  border-width: 14px;
  margin-top: -2px;
}
.list__offices:before {
  border-bottom-color: #4798ca;
  border-width: 14px;
  margin-top: -3px;
}
.list__offices .office__el {
  margin-bottom: 12px;
  display: block;
  text-decoration: none;
  color: #343434;
}
.nav__mediabuttons {
  display: flex;
  gap: 6px;
}
.nav__mediabuttons div {
  height: 24px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #0071ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  position: relative;
}
.header__item {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.header__item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  margin: auto;
}
.header__item.active {
  border-bottom: 3px solid #0071ad;
}
.header__item.active img {
  transform: rotate(180deg);
}
.header__slides {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 85px;
  font-family: "Open Sans";
  font-style: normal;
  display: flex;
  z-index: 5;
  text-transform: none;
}
.header__slide {
  width: 100%;
  padding: 10px 0;
  display: none;
}
.header__slide[header-nav="about-company"] {
  display: flex;
  background-color: #fff;
  justify-content: flex-end;
  display: none;
}
.about__company {
  border: 1px solid #0071ad;
  border-radius: 4px;
  background-color: #fff;
  padding: 9px 27px 20px 29px;
  margin-bottom: 12px;
  width: 557px;
  display: flex;
  gap: 33px;
}
.about__company .about__title {
  font-weight: 700;
  font-size: 18px;
  color: #0071ad;
  margin-bottom: 6px;
}
.about__company a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #343434;
  display: block;
  margin-bottom: 6px;
}
.about__company a:hover {
  color: #0071ad;
}
.about__company:after,
.about__company:before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: -14px;
  right: 59px;
}
.about__company:after {
  border-bottom-color: #fff;
  border-width: 14px;
  margin-top: -1px;
}
.about__company:before {
  border-bottom-color: #4798ca;
  border-width: 14px;
  margin-top: -3px;
}
.header__slide .tab__btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background: #ffffff;
  border: 1px solid #0071ad;
  border-radius: 4px;
  padding: 7px 51px 7px 13px;
  margin-bottom: 6px;
  position: relative;
  transition: 0.1s;
  cursor: pointer;
}
.header__slide .tab__btn.active {
  background-color: #0071ad;
  color: #fff;
}
.header__slide .tab__btn:hover {
  background-color: #0071ad;
  color: #fff;
  transition: 0.1s;
}
.header__slide .tab__btn::after {
  position: absolute;
  content: "\203A";
  font-size: 30px;
  top: -4px;
  right: 14px;
  margin: auto 0;
}
.header__slide .tab__content[header-tab="other-russian-cruises"] {
  background: #fff;
  border: 1px solid #4798ca;
  border-radius: 4px;
  margin-left: 15px;
  padding: 12px 39px 20px 20px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 20px;
  grid-template-rows: repeat(12, 1fr);
  grid-auto-flow: column;
  display: none;
}
.header__slide .tab__content[header-tab="other-russian-cruises"]:after,
.header__slide .tab__content[header-tab="other-russian-cruises"]:before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 59px;
  left: -12px;
  transform: rotate(270deg);
}
.header__slide .tab__content[header-tab="other-russian-cruises"]:after {
  border-bottom-color: #fff;
  border-width: 7px;
  margin-left: -1px;
}
.header__slide .tab__content[header-tab="other-russian-cruises"]:before {
  border-bottom-color: #4798ca;
  border-width: 7px;
  margin-left: -3px;
}

.header__slide .tab__content a {
  display: block;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #343434;
  height: auto;
  line-height: 24px;
}
.header__slide .tab__content a:hover {
  color: #4798ca;
}
.header__slide .tab__content[header-tab="cruise-s-cruises"] {
  background: #fff;
  border: 1px solid #4798ca;
  border-radius: 4px;
  margin-left: 15px;
  padding: 12px 21px 38px 20px;
  position: relative;
  display: none;
  gap: 38px;
  width: 1000px;
}
.header__slide .tab__content[header-tab="cruise-s-cruises"]:after,
.header__slide .tab__content[header-tab="cruise-s-cruises"]:before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 13px;
  left: -12px;
  transform: rotate(270deg);
}
.header__slide .tab__content[header-tab="cruise-s-cruises"]:after {
  border-bottom-color: #fff;
  border-width: 7px;
  margin-left: -1px;
}
.header__slide .tab__content[header-tab="cruise-s-cruises"]:before {
  border-bottom-color: #4798ca;
  border-width: 7px;
  margin-left: -3px;
}
.header__slide .tab__content[header-tab="cruise-s-cruises"] > div {
  width: calc(100 / 3);
}
.header__slide .tab__content[header-tab="cruise-s-cruises"] .tab__title {
  font-weight: 700;
  font-size: 18px;
  color: #0071ad;
  margin-bottom: 6px;
}
.filter__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  background: #e6f2f7;
  padding: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  position: sticky;
  top: 30px;
  z-index: 4;
}
.filter__wrapper > div:not(.btn) {
  background: #ffffff;
  border-radius: 4px;
  padding: 6px 8px;
  position: relative;
  height: 50px;
  display: flex;
  align-items: flex-end;
  color: #343434;
}
.filter__wrapper > div:not(.btn) .filter__label {
  font-size: 10px;
  color: #7e7e7e;
  position: absolute;
  top: 6px;
  left: 8px;
}
.filter__wrapper .btn {
  text-align: center;
  padding: 14.5px 0;
  font-weight: 700;
  color: #fff;
  background: #4798ca;
  border-radius: 4px;
}
.filter__wrapper .depature__city::after,
.filter__wrapper .route::after,
.filter__wrapper .days__count::after,
.filter__wrapper .ship::after {
  content: "";
  background-image: url("/images/filter__icon__chevron.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 13.41px;
  height: 7.29px;
  position: absolute;
  right: 13.29px;
  top: 28.21px;
}
.filter__wrapper .depature__date::after,
.filter__wrapper .arrival__date::after,
.filter__wrapper .days__count::after {
  content: "";
  background-image: url("/images/filter__icon__calendar.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 24px;
}
.sample__wrapper {
  width: 100%;
}
.ship__image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  max-width: 1440px;
  margin: 0 auto;
}
.ship__info {
  background-color: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(2px); */
  width: 100%;
  padding: 23px 0 13px 119px;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}
.ship__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.ship__type,
.ship__name {
  text-transform: uppercase;
}
.ship__anchors__wrapper {
}
.ship__anchors {
  padding: 14px 0;
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  /**/
  position: sticky;
  top: 92px;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.ship__anchors a {
  text-decoration: none;
}
.ship__anchors__top {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #7e7e7e;
  text-transform: uppercase;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ship__anchors__top__item {
  text-align: center;
}
.ship__anchors__top a {
  color: #7e7e7e;
  padding: 0 5px;
  width: 50%;
  padding-top: 3px;
}
.ship__anchors__top a.active {
  color: #0071ad;
  border-bottom: 2px solid #0071ad;
}
.ship__anchors__bottom {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ship__anchors__bottom a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #343434;
}
.ship__anchors__bottom a.active {
  color: #0071ad;
  font-weight: 700;
}
.ship__content {
  max-width: 1280px;
  margin: 0 auto;
}
.ship__rclw,
.ship__info__section,
.ship__on__board,
.ship__services,
.ship__cabin__types,
.svg__schema {
  max-width: 1280px;
  margin: 0 auto;
}
.ship__cabin__types__cards,
.ship__gallery,
.ship__sales,
.ship__cruises__filter,
.ship__cruises {
  max-width: 1200px;
  margin: 0 auto;
}
.ship__rclw {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
  margin-top: 65px;
  justify-items: center;
  gap: 1em 14%;
}
.ship__rclw__item {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  width: 169px;
}
.ship__rclw__item span {
  display: block;
  text-align: center;
  margin-left: 20px;
}
.ship__rclw__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}
.ship__info__section {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 48px;
  justify-content: space-between;
}
.ship__info__section > div {
  width: 48%;
}
.ship__info__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}
.ship__info__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 42px;
}
.ship__crew__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 71px;
}
.ship__crew__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
  text-align: center;
  justify-items: center;
}
.ship__crew__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 183px;
}
.ship__crew__post {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #242424;
  margin-bottom: 17px;
}
.ship__crew__name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7e7e7e;
}
.ship__section__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #343434;
  text-align: center;
  margin-bottom: 50px;
}
.ship__on__board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 28px calc(6%);
  align-items: center;
  margin-bottom: 69px;
}
.ship__on__board__item {
  position: relative;
  width: 50px;
}
.ship__on__board__item img {
  display: block;
}
.ship__on__board__desc {
  opacity: 0;
  position: absolute;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  background: #ffffff;
  border-radius: 2px;
  top: -30px;
  right: 0;
  margin: auto;
  height: auto;
  padding: 6.5px 29px;
  min-width: 150px;
  z-index: 1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7e7e7e;
}
.ship__on__board__item:hover .ship__on__board__desc {
  opacity: 1;
}
.ship__services__tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
.ship__services__tabs > div {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #7e7e7e;
  background: #fff;
  border: 1px solid #7e7e7e;
  border-radius: 4px;
  padding: 5px 12px;
  cursor: pointer;
}
.ship__services__tabs > div.active,
.ship__services__tabs > div:hover {
  background: #4798ca;
  color: #fff;
  border-color: #4798ca;
  transition: 0.2s;
}
.ship__services__content {
  display: none;
}
.ship__services__content.active {
  display: block;
}
.ship__service__widget {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(403px, 1fr));
  gap: 10px 36px;
  font-family: "Open Sans";
  font-style: normal;
  color: #343434;
  margin-bottom: 47px;
}
.ship__service__widget img {
  width: 100%;
}
.ship__service__widget__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 6px;
}
.ship__service__widget__desc {
  font-weight: 400;
  font-size: 18px;
}
.ship__cabin__types {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #343434;
  /* gap: 73px; */
  margin-bottom: 51px;
}
.ship__cabin__types img {
  display: block;
  margin-right: 16px;
}
.ship__cabin__types__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 9px;
  width: 190px;
}
.ship__cabin__types__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 73px;
}
.ship__cabin__types__list .ship__cabin__type__el {
  display: flex;
  margin-bottom: 16px;
}
.ship__cabin__type__color {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.ship__cabin__types__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(387px, 1fr));
  gap: 39px 19.5px;
  margin-bottom: 63px;
  justify-items: center;
}
.ship__cabin__type__card {
  max-width: 387px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  position: relative;
}
.ship__cabin__type__card:nth-child(n + 7) {
  display: none;
}
.cabin__types__pag {
  cursor: pointer;
  grid-column: 1 / -1;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-self: center;
}
.cabin__types__pag img {
  display: block;
  margin: auto 0;
}
.cabin__type__card__bigimg img {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.cabin__type__card__smallimgs {
  position: relative;
}
.cabin__type__card__smallimgs a {
  display: block;
}
.cabin__type__card__smallimgs .slick-slide {
  margin: 0 4.5px;
}
.cabin__type__card__smallimgs .slick-list {
  margin: 0 -4.5px !important;
}
.cabin__type__card__smallimgs .slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.slick-arrow {
  position: absolute;
  z-index: 1;
  display: block;
  margin: auto;
  top: 0;
  bottom: 0;
}
.cabin__type__card__smallimgs .slick__prev {
  left: -12px;
}
.cabin__type__card__smallimgs .slick__next {
  right: -12px;
}
.slick-disabled {
  display: none !important;
}
.cabin__type__card__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #242424;
  margin-top: 14px;
  margin-bottom: 12px;
}
.cabin__type__card__info {
  font-family: "Open Sans";
  font-style: normal;
  display: flex;
  justify-content: space-between;
  color: #343434;
  margin-bottom: 23px;
}
.cabin__type__card__square {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3px;
}
.cabin__type__card__cap {
  font-weight: 400;
  font-size: 14px;
}
.cabin__type__card__cap strong {
  font-weight: 600;
}
.cabin__type__card__count {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}
.cabin__type__card__count span {
  font-weight: 700;
  font-size: 16px;
}
.cabin__type__card__slide {
  font-family: "Open Sans";
  font-style: normal;
  position: relative;
}
.cabin__type__card__slide__content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0px 30px 30px -10px rgb(24 39 75 / 12%);
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  width: auto;
  margin: 0 -16px;
  padding: 0 16px;
  padding-bottom: 16px;
}
.cabin__type__card__slide__title {
  font-weight: 400;
  font-size: 16px;
  color: #0071ad;
  cursor: pointer;
}
.cabin__type__card__slide__content__title {
  margin-bottom: 16px;
}
.cabin__type__card__slide__content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7e7e7e;
  margin: 0 20px 0 35px;
}
.cabin__type__card__slide__content__text li {
  margin-bottom: 8px;
}
.ship__gallery {
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 0 44px;
}
.ship__gallery__item {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #343434;
  display: block;
}
.fancybox__caption {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  max-width: 600px !important;
}
.ship__gallery__item img {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}
.ship__gallery .slick__prev {
  left: -20px;
  cursor: pointer;
}
.ship__gallery .slick__next {
  right: -20px;
  cursor: pointer;
}
.ship__gallery .slick-slide {
  margin: 0 8px;
}
.ship__gallery .slick-list {
  margin: 0 -8px !important;
}
.ship__sales {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 15px;
  justify-items: center;
  margin-bottom: 48px;
}
.ship__sale__el {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 247px;
  width: 390px;
  display: flex;
  align-items: flex-end;
}
.ship__sale__el:nth-child(n + 4) {
  display: none;
}
.ship__sales__pag {
  cursor: pointer;
  grid-column: 1 / -1;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-self: center;
}
.ship__sales__pag img {
  display: block;
  margin: auto 0;
}
.ship__sale__text {
  display: inline;
  width: 100%;
  padding: 8px 0 22px 27px;
  background: rgba(24, 39, 75, 0.4);
  color: #fff;
}
.ship__sale__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.ship__sale__desc {
  max-width: 232px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.ship__cruises__years {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}
.ship__cruises__years .ship__cruises__el {
  margin: 0 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #7e7e7e;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
}
.ship__cruises__years .active {
  color: #242424;
  border-color: #242424;
}
.ship__cruises__filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #7e7e7e;
  margin-bottom: 8px;
}
.ship__cruises__filter > div {
  display: flex;
}
.ship__cruises__filter__title {
  margin-right: 10px;
}
.depature__city .ship__depature__list {
  min-width: 277px;
}
.depature__mounth .ship__depature__list {
  min-width: 135px;
}
.cruises__styles__views .ship__depature__list {
  min-width: 142px;
}
.ship__depature__list {
  position: relative;
  border-radius: 2px;
  margin-right: 10px;
  padding: 2px 16px;
  cursor: pointer;
  z-index: 1;
}
.ship__depature__list.active {
  box-shadow: 0px 10px 30px rgba(8, 43, 221, 0.1);
}
.ship__depature__list.active .ship__depature__dropdown {
  display: block;
  /* overflow: scroll;
  height: 140px; */
}
.ship__depature__list li {
  list-style: none;
  margin-top: 8px;
}
.ship__depature__dropdown__active:after {
  content: url("/images/dropdown__down__gray.png");
  position: absolute;
  right: 12px;
}
/* .ship__depature__list.active:after {
  content: url("/images/dropdown__down__gray.png");
} */
.ship__depature__dropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  margin: 0 -16px;
  padding: 0 16px;
  width: 100%;
  padding-bottom: 14px;
}
.ship__cruises__filter__submit {
  color: #0071ad;
  border: 1px solid #0071ad;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s;
}
.ship__cruises__filter__submit:hover {
  background-color: #0071ad;
  color: #fff;
  transition: 0.15s;
}
.cruises__styles__views {
  margin-left: auto;
}
.ship__cruises {
  margin-bottom: 78px;
}
/* CARD VIEW */
.ship__cruises.card__view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 24px 15px;
  justify-items: center;
  position: relative;
}
.ship__cruise__card {
  padding: 16px;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  font-family: "Open Sans";
  font-style: normal;
  display: none;
}
.ship__cruise__card .cruise__el__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 207px;
  margin-bottom: 12px;
  position: relative;
}
.ship__cruise__card .cruise__places__left {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 22.17px 6px 22.17px;
  border-radius: 0px 4px 0px 0px;
  color: #fff;
}
.ship__cruise__card .cruise__places__left span {
  font-size: 16px;
}
.ship__cruise__card .cruise__name {
  font-weight: 700;
  font-size: 16px;
  color: #0071ad;
  margin-bottom: 2px;
}
.ship__cruise__card .cruise__ship {
  font-weight: 400;
  font-size: 16px;
  color: #0071ad;
  margin-bottom: 8px;
}
.ship__cruise__card .cruise__route {
  font-size: 13px;
  color: #343434;
  margin-bottom: 9.5px;
}
.ship__cruise__card .cruise__dates {
  font-weight: 700;
  font-size: 14px;
  margin-right: 4px;
  color: #0071ad;
}
.ship__cruise__card .cruise__days {
  font-weight: 400;
  font-size: 14px;
  color: #0071ad;
}
.ship__cruise__card .cruise__share {
  margin-left: auto;
}
.ship__cruise__card .cruise__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #242424;
  margin-bottom: 6px;
  display: flex;
}
.ship__cruise__card .slide__cabin__prices {
  margin: auto 0;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.15s;
}
.ship__cruise__card .slide__cabin__prices img {
  display: block;
  margin: auto;
}
.ship__cruise__card .slide__cabin__prices.active {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: 0.15s;
}
.cruise__categories__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.ship__cruise__card .cruise__categories__block {
  margin-top: 25px;
  display: none;
  position: absolute;
  background: #fff;
  z-index: 11;
  border: 1px solid #0071ad;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 27px 60px 26px 21px;
  flex-wrap: nowrap;
  left: 16px;
}
.ship__cruise__card .cruise__categories__close {
  position: absolute;
  right: 13px;
  top: 10px;
  cursor: pointer;
}
.ship__cruise__card .cruise__categories__title {
  font-weight: 400;
  font-size: 12px;
  margin-right: 21px;
  color: #0071ad;
  width: 100px;
  display: flex;
  flex-direction: column;
}
.ship__cruise__card .cruise__categories__title > div:not(:last-child) {
  margin-bottom: 12px;
}
.ship__cruise__card .cruise__categories__cabins {
  display: flex;
  flex-wrap: wrap;
}
.ship__cruise__card .cruise__category__el {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #343434;
  margin-right: 20px;
  height: 78px;
  margin-bottom: 10px;
}
.ship__cruise__card .cruise__category__el__places {
  color: #0071ad;
}
.ship__cruise__card .cruise__category__el__price {
  font-weight: 700;
}
.ship__cruise__card .cruise__bonus__klk {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  color: #919191;
  margin-bottom: 12px;
}
.ship__cruise__card .cruise__bonus__klk img {
  display: block;
  margin: auto 0;
}
.ship__cruise__card .cruise__suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36px, 1fr));
  gap: 16px 28px;
  margin: 18px 0;
}
.ship__cruise__card .cruise__sugg__el {
  height: 36px;
  width: 36px;
}
.ship__cruise__card .cruise__sugg__desc {
  display: none;
}
.ship__cruise__card .cruise__btn {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-align: center;
  padding: 14px 0;
  background: #0071ad;
  border-radius: 4px;
  color: #fff;
  margin-top: 12px;
  cursor: pointer;
}
/* CARD VIEW */
/* LIST VIEW */
.ship__cruises.list__view {
  font-family: "Open Sans";
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr;
}
.ship__cruise__list {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 14px 0 28px 42px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: none;
}
.ship__cruise__list .top__left__block {
  width: 73.583%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  grid-template-areas:
    "cruise-name cruise-name ship-name ship-name"
    "cruise-dates cruise-dates cruise-route cruise-route"
    "cruise-share cruise-sugg cruise-sugg cruise-sugg";
  gap: 13px 0;
}
.ship__cruise__list .cruise__name {
  grid-area: cruise-name;
  font-weight: 700;
  font-size: 20px;
  color: #0071ad;
}
.ship__cruise__list .ship__name {
  grid-area: ship-name;
  font-weight: 400;
  font-size: 16px;
  color: #0071ad;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
}
.ship__cruise__list .ship__name img {
  margin-right: 6px;
}
.ship__cruise__list .cruise__dates {
  grid-area: cruise-dates;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #242424;
}
.ship__cruise__list .cruise__dates > div {
  margin-right: 18px;
}
.ship__cruise__list .depature__gray {
  font-size: 12px;
  color: #919191;
  margin-bottom: 8px;
}
.ship__cruise__list .depature__date {
  font-weight: 700;
  font-size: 16px;
}
.ship__cruise__list .cruise__days__nights {
  color: #7e7e7e;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.ship__cruise__list .cruise__route {
  grid-area: cruise-route;
  text-align: center;
  font-size: 14px;
  color: #343434;
}
.ship__cruise__list .cruise__share {
  grid-area: cruise-share;
  margin-top: 11px;
  display: flex;
  align-items: center;
}
.ship__cruise__list .cruise__suggestions {
  grid-area: cruise-sugg;
  display: flex;
  margin-top: 11px;
  flex-wrap: wrap;
}
.ship__cruise__list .cruise__suggestions img {
  margin-right: 27px;
}
.ship__cruise__list .top__right__block {
  margin-left: auto;
}
.ship__cruise__list .top__right__block img {
  display: block;
}
.ship__cruise__list .cruise__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #242424;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 18px;
}
.ship__cruise__list .slide__cabin__prices {
  margin: 0;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.15s;
}

.ship__cruise__list .slide__cabin__prices.active {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: 0.15s;
}

.ship__cruise__list .cruise__bonus__klk {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 13px;
  margin-right: 18px;
  color: #919191;
}
.ship__cruise__list .cruise__places__left {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  padding: 2px 0 4px 12px;
  color: #fff;
  margin-bottom: 13px;
}
.ship__cruise__list .cruise__places__left span {
  font-size: 16px;
}
.ship__cruise__list .cruise__btn {
  text-align: center;
  background: #0071ad;
  border-radius: 4px;
  padding: 12px 24px;
  color: #fff;
  margin-right: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}
.ship__cruise__list .bottom__block {
  width: 100%;
  margin-top: 25px;
  display: none;
}
.ship__cruise__list .cruise__category__cabin__title {
  font-weight: 400;
  font-size: 12px;
  margin-right: 21px;
  color: #0071ad;
  width: 100px;
}
.ship__cruise__list .cruise__category__cabin__title > div:not(:last-child) {
  margin-bottom: 12px;
}
.ship__cruise__list .cruise__categories__cabins {
  display: flex;
  flex-wrap: wrap;
}
.ship__cruise__list .cruise__category__el {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #343434;
  margin-right: 20px;
  height: 78px;
  margin-bottom: 10px;
}
.ship__cruise__list .cruise__category__el__places {
  color: #0071ad;
}
.ship__cruise__list .cruise__category__el__price {
  font-weight: 700;
}
/* LIST VIEW */

.cruise__places__left.left__red {
  background: #f23200;
}
.cruise__places__left.left__yellow {
  background: #f2ae00;
}
.cruise__places__left.left__green {
  background: #3bb900;
}
/* .ship__cruise__list:nth-child(n + 6) {
  display: none;
}
.ship__cruise__card:nth-child(n + 6) {
  display: none;
} */
.ship__cruises__pag {
  cursor: pointer;
  grid-column: 1 / -1;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-self: center;
}
.ship__cruises__pag img {
  display: block;
  margin: auto 0;
}
.ship__recommendations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 16px;
  max-width: 1440px;
  margin: 0 auto;
}
.ship__recommendation__el {
  padding: 16px 17px 20px 17px;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12),
    0px 10px 32px -4px rgba(24, 39, 75, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ship__recommendation__el img {
  width: 100%;
}
.recommendation__title {
  margin: 16px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #242424;
}
.recommendation__btn {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #0071ad;
  border-radius: 4px;
  padding: 14px 0;
}
.ship__recommendations .slick-slide {
  margin: 0 8px;
}
.ship__recommendations .slick-list {
  margin: 0 -8px !important;
}
.ship__recommendations .slick-track {
  padding-bottom: 48px;
}
.ship__recommendations .slick__prev {
  left: -70px;
  cursor: pointer;
}
.ship__recommendations .slick__next {
  right: -70px;
  cursor: pointer;
}
.footer__wrapper {
  width: 100%;
  background: #0071ad;
}
.footer__content {
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 20% 30% 30%;
  grid-template-areas:
    "footer-logo footer-title footer-form footer-form"
    "footer-contacts footer-links1 footer-links2 footer-social";
  gap: 0 60px;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
}
.footer__content a {
  text-decoration: none;
  color: #fff;
}
.footer__logo {
  grid-area: footer-logo;
}
.footer__title {
  grid-area: footer-title;
  font-weight: 600;
  align-self: center;
}
.footer__form {
  grid-area: footer-form;
}
